* {
  box-sizing: border-box;
  margin: 0;
  background-color: #1c1f25;
  color: #8f8ab1;
  font-family: 'JetBrains Mono', monospace;
}

/* ----- Textos ----- */
.caja_texto {
  display: block;
  margin: 2% auto 0 auto;
}


.textos {
  width: 100%;
  text-align: center;
}


/* ----- imagen ----- */
.caja_img {
  display: flex;
  width: 100%;
  margin: 3% auto 0 auto;
  justify-content: center;
  align-items: center;
}

.img_1 {
  width: 15%;
  height: 27vh;
  border-radius: 50%;
}

.img_1:hover {
  width: 20%;
  height: 37vh;
}

a {
  text-decoration: none;
}

b {
  color: #7ec4a8 !important;
}

.textos-2 {
  width: 100%;
  text-align: left;
  margin-left: 5%;
}

.lista {
  margin: 5% auto auto 5%;
}

.codigo {
  margin: 5% auto 5% 5%;
}

.resultado {
  color: #7ec4a8 !important;
  margin-top: 3%;
}

.resultado_inline {
  color: #7ec4a8 !important;
}

footer {
  margin: 5% auto 3% 5%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.boton {
  display: block;
  margin-left: 5%;
  background-color: #7ec4a8;
  border-radius: 5%;
  color: #1C1B22;
}

/* ----- card while ----- */
.card {
  width: 30%;
  height: 250px;
  margin: 5px auto 5px auto;
  padding: 10px;
  border: 2px solid #7ec47e;
  border-radius: 8px;
}

.img_2 {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 15px auto 35px auto;
}


/* ----- calculadora UI ----- */ 
.cal {
  display: block;
  width: 300px;
  height: 400px;
  margin: auto;
}

/* ----- espacio de pantallas ----- */
.cal_display {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-content: center;
}

.cal_display_2 {
  height: 45px !important;
}

/* ----- pantalla muestra de operación ----- */
.cal_dis_op {
  font-size: 1em !important;
  height: 40px;
  margin-bottom: 5px;
  bottom: 0;
}

/* ----- pantalla principal ----- */
.cal_dis_text {
  display: block;
  width: 100%;
  background-color:  #8f8ab1;
  border-radius: 7px;
  border: none;
  color: #1C1B22 !important;
  font-size: 1.3em;
  text-align: right;
  padding: 10px;
}


/* ----- Botones ----- */ 

.area_1 { grid-area: bt_1; }
.area_2 { grid-area: bt_2; }
.area_3 { grid-area: bt_3; }
.area_4 { grid-area: bt_4; }
.area_5 { grid-area: bt_5; }
.area_6 { grid-area: bt_6; }
.area_7 { grid-area: bt_7; }
.area_8 { grid-area: bt_8; }
.area_9 { grid-area: bt_9; }
.area_sum { grid-area: bt_sum; }
.area_res { grid-area: bt_res; }
.area_mul { grid-area: bt_mul; }
.area_div { grid-area: bt_div; }
.area_equ { grid-area: bt_equ; }
.area_C { grid-area: bt_C; background-color: hsla(20, 54%, 56%, 1) !important; }
.area_del { grid-area: bt_del; }
.area_dot { grid-area: bt_dot; }


.cal_botones {
  display: grid;
  grid-template-areas:
    "bt_7 bt_8 bt_9 bt_sum"
    "bt_4 bt_5 bt_6 bt_res"
    "bt_1 bt_2 bt_3 bt_mul"
    "bt_dot bt_0 bt_00 bt_div"
    "bt_C bt_del bt_equ bt_equ"
    ;
  width: 100%;
  height: 300px; 
  gap: 3px;
  margin-top: 10px;
}

.boton {
  border-radius: 10%;
  background-color:  #8f8ab1;
  border: none;
  font-size: 1.3em;
  margin-left: 0;
}

.boton:active {
  background-color: #A8A8A8;
}


/* JQuery */
#cuadrados {
  display: flex;
  margin-left: 5%;
}

.gris {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 10px;
  color: black;
}

.rojo {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
  color: black;
}



